# Node.js dependencies
/node_modules/

# Log files
*.log

# Operating system files
.DS_Store         # macOS
Thumbs.db         # Windows

# Editor and IDE files
.vscode/          # VSCode workspace settings
.idea/            # IntelliJ or WebStorm project settings
*.sublime-workspace  # Sublime Text workspace files

# Environment files
.env              # .env files containing environment variables
*.env

# Build files
/dist/
build/

# Temporary files
*.tmp
*.swp             # vim swap files
